body {
  margin:0;
  padding:0;
  font-family:"Segoe UI",Arial,sans-serif;
}

i {
  font-size:20px;
}

.BodySection>div>div {
  padding-left: 15%;
  padding-bottom: 1%;
  overflow: hidden;
  }

.BodySection>div>div:nth-child(1) {
  font-size:18px;
}

.BodySection>div>div:hover {
  background-color:#ccc;
}

.BodySection>div>div:hover:nth-child(1) {
  background-color:white;
}

.Body{
    display: flex;
    flex-wrap: wrap;
}

.BodySection{
    box-shadow: 0 2px 5px 0px rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 15%;
}

.BodyContent{display: flex;width: 85%;}

.Main {display: flex;flex-direction: column;}

.Header {display: flex;flex-direction: column;}

.Header1 {
  display: flex;
  width: auto;
  flex-wrap: wrap;
  font-size: 16px;
  justify-content: space-between;
  padding: 8px 16px;
  position: relative;
  align-items: flex-end;
  margin: 5px 0 0 0;
}

#HeaderRightHeading {
    position: relative;
    font-size: 35px;
}

#HeaderLeftHeading {
    position: relative;
    display:block;
    text-transform: uppercase;
    font-family: monospace;
    letter-spacing: 4px;
}

.Header2 {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
}

.Header2NavBar{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 17px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.Header2NavBar>div>div {
  padding: 16px;
}

.Header2NavBar>div>div:hover {
  background-color:white;
  color: black;
}

.Header2NavBarRight{
  display: flex;
  flex-wrap: wrap;
}

.Header2NavBarLeft{
  display: flex;
  flex-wrap: wrap;
}