body {
  margin:0;
  padding:0;
  font-family:"Segoe UI",Arial,sans-serif;
}

i {
  font-size:20px;
}

.BodySection>div>div {
  padding-left: 15%;
  padding-bottom: 1%;
  overflow: hidden;
  }

.BodySection>div>div:nth-child(1) {
  font-size:18px;
}

.BodySection>div>div:hover {
  background-color:#ccc;
}

.BodySection>div>div:hover:nth-child(1) {
  background-color:white;
}

.Body{
    display: flex;
    flex-wrap: wrap;
}

.BodySection{
    box-shadow: 0 2px 5px 0px rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-grow: 1;
    z-index: 3;
}

.BodyContent{
  display: flex;
  flex-grow: 9;
  flex-direction: column;
  overflow: hidden;
  }

.BodyContent>div{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.BodyContent>div:nth-child(2n) {
  background-color:#f1f1f1;
  flex-direction:row-reverse;
}

.Main {display: flex;flex-direction: column;}

.Header {display: flex;flex-direction: column;}

.Header1 {
  display: flex;
  width: auto;
  flex-wrap: wrap;
  font-size: 16px;
  justify-content: space-between;
  padding: 8px 16px;
  position: relative;
  align-items: flex-end;
  margin: 5px 0 0 0;
}

#HeaderRightHeading {
    position: relative;
    font-size: 35px;
}

#HeaderLeftHeading {
    position: relative;
    display:block;
    text-transform: uppercase;
    font-family: monospace;
    letter-spacing: 4px;
}

.Header2 {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  z-index: 1;
  box-shadow: 0 2px 5px 0px rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.Header2NavBar{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 17px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.Header2NavBar>div>div {
  padding: 16px;
  display: inline;
}

.Header2NavBar > div > div:hover {
  background-color:white;
  color: black;
}

.Header2NavBarRight{
  display: flex;
  flex-wrap: wrap;
}

.Header2NavBarLeft{
  display: flex;
  flex-wrap: wrap;
}

.Box1,.Box2 {
  width:50%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Box1 button {
  background-color:#616161;
  color:white;
  border:none;
  box-sizing:border-box;
  font-size:16px;
  text-transform:uppercase;
  margin:5px 0 5px 5px;
  padding: 10px 14px;
  overflow: hidden;
}

.Box2 button {
  background-color:#4caf30;
  color:white;
  border:none;
  box-sizing:border-box;
  font-size:12px;
  text-transform:uppercase;
  margin:5px 0 5px 5px;
  padding: 8px 16px;
  font-family:Verdana,sans-serif;
}

.Box1 > div:nth-child(1){
  font-size:35px;
}

.Box2 >div {background-color: #f1f1f1;width: 90%;display: flex;justify-content: center;align-items: center;height: 75%;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);}

.Box2 > div >div {width: 100%;box-sizing: border-box;display: flex;flex-direction:column;justify-content: space-between;align-items: flex-start;height: 100%;padding: 5%;}

.Box2>div>div>div{
  color:white
}

.Box2>div>div>div:nth-child(2){
  border-left: 3px solid #4caf30;
}

.BodyContent>div:nth-child(2n) div {
  box-shadow:none;
}

.Box1 > div{
  display:flex;
  text-align:center;
}

@media screen and (max-width:650px) {

.Box1,.Box2 {
  height:200px;
}
button{
  padding:2px 4px;
}
.BodySection {
  display:none;
}

.Header1 {
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.Box1 > div{
  flex-direction:column;
 }

}